body {
  margin: 0;
}
.poe {
  padding: 4vw;
  margin: 20vw 0;
}
.heading {
  text-align: center;
}
.via {
  text-align: center;
  margin: 4vw 0;
  font-size: 3.46667vw;
}
.contents {
  text-align: center;
  line-height: 2.5em;
  letter-spacing: 1.33333vw;
  margin-top: 6.66667vw;
  margin-bottom: 13.33333vw;
}

